@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/Proxima_nova_bold/ProximaNova-Bold.eot');
  src: url('../fonts/Proxima_nova_bold/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/Proxima_nova_bold/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/Proxima_nova_bold/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/Proxima_nova_bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

